
# api/app.py: 1
Flask == 0.12.2

# sentiment-analyzer/analyzer.py: 4,6
nltk == 3.3

# sentiment-analyzer/analyzer.py: 5
# stop-words == 2015.2.23.1

# sentiment-analyzer/analyzer.py: 3,7
textblob == 0.15.1

# Other
pylint
pytest
